*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px; 
}
  .logo img{
      width: 60px;
      height: 60px; 
      border-radius: 100px;
      margin-bottom: 10px; 
  }  
  .content2{
    width: 350px;
    height: 600px;
    border: 1px solid rgb(204, 197, 197) ;
    border-radius: 10px; 
    padding-left: 30px;
  }

  .text1{
    font-size: 1.7em;
    font-family:"Open Sans", sans-serif; 
    margin-top: 20px; 
  }
  .email-psw-text{
    font-size: .7em;
    font-weight: 700; 
    font-family: "Open Sans", sans-serif; 
    letter-spacing: .7px;
    margin-top: 17px;
    margin-bottom: 6px;

  }
   input,.btn{
    width: 290px;
    height: 30px; 
    border-radius: 3px;
    border: 1px solid rgb(204, 197, 197) ;
    padding-left: 8px; 
  }
  .btn{
    margin-top: 20px ;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: .7em;
    border-radius: 8px;   
    background-color: #fbe601df; 
    cursor: pointer; 
  }   
  .term-cond{
    margin-top: 10px;
    font-size: .7em; 
  } 

  .line-with-text {
    display: flex;
    align-items: center; 
    margin-top: 15px;
  }
  .line {
    width: 90px;
    border-top: 1px solid rgb(226, 219, 219);
  }
  .text {
    padding: 0 10px; /* Adjust as needed */ 
    font-size: .7em;
    color: rgb(132, 122, 122);
  }
  .btn2 {
    background-color: white; 
    width: 350px;
    box-shadow: 2px 2px 2px rgb(197, 196, 195); /* Horizontal offset, vertical offset, blur radius, and color */
    margin-top: 10px; 
}


  
.mobile-container {
    display: flex;
    align-items: center;
  }
  
  .country-selector {
    margin-right: 10px; /* Adjust spacing between selector and input */
  }
  
  #country-code {
    padding: 5px;
    border-radius: 10px;
  }
  #mobile-number{
    width: 200px;
    border: 2px solid rgba(225, 29, 19, 0.562) ;
  }
  a {
    text-decoration: none; /* Remove underline */
  }
  .shadow-input {
    outline: none; /* Remove default focus outline */
  }
  
  .shadow-input:focus {
    box-shadow: 0px 0px 5px rgba(12, 167, 223, 0.934); /* Add box shadow when focused */
  }  