*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main{ background-color: #f0f0f0;} 
.news-on-img{
  
  /* display: inline-block; */
} 
 img{
  /* display: block;    */
  width: 100%;  
  height: 800px; 
  /* position:relative;  */
  object-fit: cover; 
}  
/* .bg_img{ 
 
} */
.overlay{
  position: absolute;
  margin-left: 6.2rem;
z-index: 1;
} 
.btn{background-color: #bfe858;}
  
/* .overlay{height: fit-content; margin: 30px;} */
/* .menu-news{justify-content: space-around;} */

/* ! header section  */
.header{ 
    /* position: fixed; */
    /* top: 0; 
    left: 0; */
    width: 100%;  
    padding: 10px 10px;  
    /* background-color: rgba(21, 21, 20, 0.886); */
    background-color: rgba(58, 76, 214, 0.85); 
    display: flex; 
    justify-content: space-between ;  
    align-items: center;
    z-index:99;   
    /* backdrop-filter: blur(100px); */
    padding-left: 50px;
    padding-right: 50px;
}
.logo-div{
  display: flex;
  /* justify-content:center; */
  align-items: center;
}
.logo-text{
  margin-left: 20px;
  color: white; 
  cursor: pointer; 
}
.logo img{
    width: 60px;
    height: 60px; 
    border-radius: 100px;
}                           

.navigation .anchor {
        position: relative; 
        font-size: 1.1em;
        color: #fff;
        text-decoration:none; 
        font-weight: 500;
        margin-left: 40px;
} 

.navigation .anchor::after{
    /* content: 'Rupesh'; */
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; 
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin:right; 
    transform: scaleX(0); 
    transition: transform .5s;  
}  

.navigation .anchor:hover::after {
    transform-origin: left; 
    transform: scaleX(1); 
    background-color: #fff; 
} 


 .login-button{
    width: 130px;
    height: 50px; 
    background: transparent  ;  
    border: 2px solid #fff ; 
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .6s;
} 
/** 10-05-2024 */
.login-container{
  position: relative;
  display: inline-block;
}
.hover-content {
  width: 200px;
  position: absolute; 
  top: calc(100% ); 
  left: 60%;
  transform: translateX(-50%);
  display: none;
  background-color: #ffc609cf;
  border: 1px solid #ccc;
  border-radius: 4px; 
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}
.login-button:hover + .hover-content  ,
.hover-content :hover {
  display: block;
}
 .login-button:hover{
    background: #fff; 
    color: #162938; 
}
.user-button,
.admin-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-button:hover,
.admin-button:hover {
  background-color: #f2f2f2;
} 
.hover-content a {
  text-decoration: none; /* Remove underline */
}


/* ! menu section  */


  /*! Footer Section */ 
  .col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;margin-top: 30px;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}